In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Company_Data.csv")
df = data.copy()
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
# df[df["Sales"] == 0.0]

In [4]:
# df["Sales"].max()

In [5]:
# pd.get_dummies(df)
y = df.iloc[:,:1]
y

     Sales
0     9.50
1    11.22
2    10.06
3     7.40
4     4.15
..     ...
395  12.57
396   6.14
397   7.41
398   5.94
399   9.71

[400 rows x 1 columns]

In [6]:
x = df.iloc[:,1:]

In [7]:
x

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,Yes,Yes
1,111,48,16,260,83,Good,65,10,Yes,Yes
2,113,35,10,269,80,Medium,59,12,Yes,Yes
3,117,100,4,466,97,Medium,55,14,Yes,Yes
4,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes
396,139,23,3,37,120,Medium,55,11,No,Yes
397,162,26,12,368,159,Medium,40,18,Yes,Yes
398,100,79,7,284,95,Bad,50,12,Yes,Yes
399,134,37,0,27,120,Good,49,16,Yes,Yes

In [8]:
x["ShelveLoc"] = x["ShelveLoc"].replace("Bad",0)
x["ShelveLoc"] = x["ShelveLoc"].replace("Medium",1)
x["ShelveLoc"] = x["ShelveLoc"].replace("Good",2)

In [9]:
x["ShelveLoc"]= x["ShelveLoc"].astype(object)
x.dtypes

CompPrice       int64
Income          int64
Advertising     int64
Population      int64
Price           int64
ShelveLoc      object
Age             int64
Education       int64
Urban          object
US             object
dtype: object

In [10]:
x["ShelveLoc"].dtype

dtype('O')

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
x_train

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
3,117,100,4,466,97,1,55,14,Yes,Yes
18,110,110,0,408,68,2,46,17,No,Yes
202,121,78,4,413,130,0,46,10,No,Yes
250,137,105,10,435,156,2,72,14,Yes,Yes
274,135,93,2,67,119,1,34,11,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...
71,148,51,16,148,150,1,58,17,No,Yes
106,102,33,0,217,139,1,70,18,No,No
270,119,26,0,284,89,2,26,10,Yes,No
348,132,102,20,459,107,2,49,11,Yes,Yes
102,113,22,0,57,97,1,65,16,No,No

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [14]:
x["ShelveLoc"].value_counts()

ShelveLoc
1    219
0     96
2     85
Name: count, dtype: int64

In [15]:
x.dtypes

CompPrice       int64
Income          int64
Advertising     int64
Population      int64
Price           int64
ShelveLoc      object
Age             int64
Education       int64
Urban          object
US             object
dtype: object

In [16]:
con_cols = [col for col in x.columns if x[col].dtype != "object"]
cat_cols = [col for col in x.columns if x[col].dtype == "object"]

In [17]:
con_cols

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education']

In [18]:
cat_cols

['ShelveLoc', 'Urban', 'US']

In [19]:
x_train[con_cols] = sc.fit_transform(x_train[con_cols])
x_test[con_cols] = sc.transform(x_test[con_cols])

In [20]:
# x_train
x_test

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
209,-1.721797,-1.659373,0.678338,0.374969,-1.108874,0,1.380468,-1.089818,No,Yes
280,-0.234947,0.625175,0.527282,1.547757,1.225876,0,-0.141338,-1.475594,Yes,Yes
33,-0.687466,-1.061875,0.980451,0.312880,0.504226,2,-0.202210,0.839063,Yes,Yes
210,0.023636,-0.956435,-0.681170,0.588830,0.291976,0,-0.384826,0.067511,No,Yes
93,1.316549,-1.343051,-0.983284,-1.411809,-0.514574,1,0.102151,1.224840,Yes,No
...,...,...,...,...,...,...,...,...,...,...
246,-0.299592,-0.429231,2.037847,-0.038956,-1.108874,0,1.502212,1.610616,Yes,Yes
227,-0.752112,-0.148056,0.527282,-1.404910,-0.641924,1,0.223896,0.839063,Yes,Yes
369,0.670093,1.117232,2.339960,1.320099,0.249526,1,-1.054421,0.067511,Yes,Yes
176,0.864030,1.363260,0.376225,1.437377,1.607926,1,-0.384826,-1.089818,No,Yes
289,1.187258,0.308853,2.793129,1.216617,1.692826,1,-0.628315,1.224840,Yes,Yes

In [21]:
cat_cols

['ShelveLoc', 'Urban', 'US']

In [22]:
x_test

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
209,-1.721797,-1.659373,0.678338,0.374969,-1.108874,0,1.380468,-1.089818,No,Yes
280,-0.234947,0.625175,0.527282,1.547757,1.225876,0,-0.141338,-1.475594,Yes,Yes
33,-0.687466,-1.061875,0.980451,0.312880,0.504226,2,-0.202210,0.839063,Yes,Yes
210,0.023636,-0.956435,-0.681170,0.588830,0.291976,0,-0.384826,0.067511,No,Yes
93,1.316549,-1.343051,-0.983284,-1.411809,-0.514574,1,0.102151,1.224840,Yes,No
...,...,...,...,...,...,...,...,...,...,...
246,-0.299592,-0.429231,2.037847,-0.038956,-1.108874,0,1.502212,1.610616,Yes,Yes
227,-0.752112,-0.148056,0.527282,-1.404910,-0.641924,1,0.223896,0.839063,Yes,Yes
369,0.670093,1.117232,2.339960,1.320099,0.249526,1,-1.054421,0.067511,Yes,Yes
176,0.864030,1.363260,0.376225,1.437377,1.607926,1,-0.384826,-1.089818,No,Yes
289,1.187258,0.308853,2.793129,1.216617,1.692826,1,-0.628315,1.224840,Yes,Yes

In [23]:
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder(handle_unknown="ignore")

In [24]:
# for cols in x_train[cat_cols].columns:
oe_train = pd.DataFrame(oe.fit_transform(x_train[cat_cols[1:]]).toarray(), index= x_train[cat_cols].index)
oe_test = pd.DataFrame(oe.transform(x_test[cat_cols[1:]]).toarray(),index=x_test[cat_cols].index)

In [25]:
oe_train["ShelveLoc"] = x_train["ShelveLoc"]
oe_test["ShelveLoc"] = x_test["ShelveLoc"]

In [26]:
oe_train

       0    1    2    3 ShelveLoc
3    0.0  1.0  0.0  1.0         1
18   1.0  0.0  0.0  1.0         2
202  1.0  0.0  0.0  1.0         0
250  0.0  1.0  0.0  1.0         2
274  0.0  1.0  0.0  1.0         1
..   ...  ...  ...  ...       ...
71   1.0  0.0  0.0  1.0         1
106  1.0  0.0  1.0  0.0         1
270  0.0  1.0  1.0  0.0         2
348  0.0  1.0  0.0  1.0         2
102  1.0  0.0  1.0  0.0         1

[320 rows x 5 columns]

In [27]:
oe_test

       0    1    2    3 ShelveLoc
209  1.0  0.0  0.0  1.0         0
280  0.0  1.0  0.0  1.0         0
33   0.0  1.0  0.0  1.0         2
210  1.0  0.0  0.0  1.0         0
93   0.0  1.0  1.0  0.0         1
..   ...  ...  ...  ...       ...
246  0.0  1.0  0.0  1.0         0
227  0.0  1.0  0.0  1.0         1
369  0.0  1.0  0.0  1.0         1
176  1.0  0.0  0.0  1.0         1
289  0.0  1.0  0.0  1.0         1

[80 rows x 5 columns]

In [28]:
train_final = pd.concat([x_train[con_cols],oe_train],axis=1)
test_final = pd.concat([x_test[con_cols],oe_test],axis=1)

In [29]:
train_final

,CompPrice,Income,Advertising,Population,Price,Age,Education,0,1,2,3,ShelveLoc
3,-0.493529,1.117232,-0.379057,1.340795,-0.811724,0.102151,0.067511,0.0,1.0,0.0,1.0,1
18,-0.946049,1.468701,-0.983284,0.940667,-2.042773,-0.445699,1.224840,1.0,0.0,0.0,1.0,2
202,-0.234947,0.344000,-0.379057,0.975161,0.589126,-0.445699,-1.475594,1.0,0.0,0.0,1.0,0
250,0.799384,1.292966,0.527282,1.126933,1.692826,1.136979,0.067511,0.0,1.0,0.0,1.0,2
274,0.670093,0.871204,-0.681170,-1.411809,0.122176,-1.176165,-1.089818,0.0,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
71,1.510486,-0.604966,1.433621,-0.853010,1.438126,0.284768,1.224840,1.0,0.0,0.0,1.0,1
106,-1.463214,-1.237610,-0.983284,-0.376995,0.971176,1.015234,1.610616,1.0,0.0,1.0,0.0,1
270,-0.364238,-1.483638,-0.983284,0.085221,-1.151324,-1.663143,-1.475594,0.0,1.0,1.0,0.0,2
348,0.476156,1.187526,2.037847,1.292504,-0.387224,-0.263082,-1.089818,0.0,1.0,0.0,1.0,2
102,-0.752112,-1.624226,-0.983284,-1.480796,-0.811724,0.710873,0.839063,1.0,0.0,1.0,0.0,1

In [30]:
test_final

,CompPrice,Income,Advertising,Population,Price,Age,Education,0,1,2,3,ShelveLoc
209,-1.721797,-1.659373,0.678338,0.374969,-1.108874,1.380468,-1.089818,1.0,0.0,0.0,1.0,0
280,-0.234947,0.625175,0.527282,1.547757,1.225876,-0.141338,-1.475594,0.0,1.0,0.0,1.0,0
33,-0.687466,-1.061875,0.980451,0.312880,0.504226,-0.202210,0.839063,0.0,1.0,0.0,1.0,2
210,0.023636,-0.956435,-0.681170,0.588830,0.291976,-0.384826,0.067511,1.0,0.0,0.0,1.0,0
93,1.316549,-1.343051,-0.983284,-1.411809,-0.514574,0.102151,1.224840,0.0,1.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
246,-0.299592,-0.429231,2.037847,-0.038956,-1.108874,1.502212,1.610616,0.0,1.0,0.0,1.0,0
227,-0.752112,-0.148056,0.527282,-1.404910,-0.641924,0.223896,0.839063,0.0,1.0,0.0,1.0,1
369,0.670093,1.117232,2.339960,1.320099,0.249526,-1.054421,0.067511,0.0,1.0,0.0,1.0,1
176,0.864030,1.363260,0.376225,1.437377,1.607926,-0.384826,-1.089818,1.0,0.0,0.0,1.0,1
289,1.187258,0.308853,2.793129,1.216617,1.692826,-0.628315,1.224840,0.0,1.0,0.0,1.0,1

In [66]:
from sklearn.tree import DecisionTreeRegressor
dr = DecisionTreeRegressor(random_state=42)
train_final.columns = train_final.columns.astype(str)
test_final.columns = test_final.columns.astype(str)
dr.fit(train_final,y_train)

DecisionTreeRegressor(random_state=42)

In [67]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score,make_scorer

scorer= make_scorer(r2_score) 

params = {
    "max_depth" : [*range(3,8)],
    "min_samples_split":[*range(2,6)],

}

gcv = GridSearchCV(dr,params,verbose=32,cv=5, scoring= scorer)
gcv.fit(train_final,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
[CV 1/5; 1/20] START max_depth=3, min_samples_split=2...........................
[CV 1/5; 1/20] END max_depth=3, min_samples_split=2;, score=0.086 total time=   0.0s
[CV 2/5; 1/20] START max_depth=3, min_samples_split=2...........................
[CV 2/5; 1/20] END max_depth=3, min_samples_split=2;, score=0.256 total time=   0.0s
[CV 3/5; 1/20] START max_depth=3, min_samples_split=2...........................
[CV 3/5; 1/20] END max_depth=3, min_samples_split=2;, score=-0.042 total time=   0.0s
[CV 4/5; 1/20] START max_depth=3, min_samples_split=2...........................
[CV 4/5; 1/20] END max_depth=3, min_samples_split=2;, score=0.336 total time=   0.0s
[CV 5/5; 1/20] START max_depth=3, min_samples_split=2...........................
[CV 5/5; 1/20] END max_depth=3, min_samples_split=2;, score=0.280 total time=   0.0s
[CV 1/5; 2/20] START max_depth=3, min_samples_split=3...........................
[CV 1/5; 2/20] END max_depth=3, min_samples_split=3;, score=0.086 total time=   0.0s
[CV 2/5; 2/20] START max_depth=3, min_samples_split=3...........................
[CV 2/5; 2/20] END max_depth=3, min_samples_split=3;, score=0.256 total time=   0.0s
[CV 3/5; 2/20] START max_depth=3, min_samples_split=3...........................
[CV 3/5; 2/20] END max_depth=3, min_samples_split=3;, score=-0.042 total time=   0.0s
[CV 4/5; 2/20] START max_depth=3, min_samples_split=3...........................
[CV 4/5; 2/20] END max_depth=3, min_samples_split=3;, score=0.336 total time=   0.0s
[CV 5/5; 2/20] START max_depth=3, min_samples_split=3...........................
[CV 5/5; 2/20] END max_depth=3, min_samples_split=3;, score=0.280 total time=   0.0s
[CV 1/5; 3/20] START max_depth=3, min_samples_split=4...........................
[CV 1/5; 3/20] END max_depth=3, min_samples_split=4;, score=0.086 total time=   0.0s
[CV 2/5; 3/20] START max_depth=3, min_samples_split=4...........................
[CV 2/5; 3/20] END max_depth=3, min_samples_split=4;, score=0.256 total time=   0.0s
[CV 3/5; 3/20] START max_depth=3, min_samples_split=4...........................
[CV 3/5; 3/20] END max_depth=3, min_samples_split=4;, score=-0.042 total time=   0.0s
[CV 4/5; 3/20] START max_depth=3, min_samples_split=4...........................
[CV 4/5; 3/20] END max_depth=3, min_samples_split=4;, score=0.336 total time=   0.0s
[CV 5/5; 3/20] START max_depth=3, min_samples_split=4...........................
[CV 5/5; 3/20] END max_depth=3, min_samples_split=4;, score=0.280 total time=   0.0s
[CV 1/5; 4/20] START max_depth=3, min_samples_split=5...........................
[CV 1/5; 4/20] END max_depth=3, min_samples_split=5;, score=0.086 total time=   0.0s
[CV 2/5; 4/20] START max_depth=3, min_samples_split=5...........................
[CV 2/5; 4/20] END max_depth=3, min_samples_split=5;, score=0.256 total time=   0.0s
[CV 3/5; 4/20] START max_depth=3, min_samples_split=5...........................
[CV 3/5; 4/20] END max_depth=3, min_samples_split=5;, score=-0.042 total time=   0.0s
[CV 4/5; 4/20] START max_depth=3, min_samples_split=5...........................
[CV 4/5; 4/20] END max_depth=3, min_samples_split=5;, score=0.336 total time=   0.0s
[CV 5/5; 4/20] START max_depth=3, min_samples_split=5...........................
[CV 5/5; 4/20] END max_depth=3, min_samples_split=5;, score=0.280 total time=   0.0s
[CV 1/5; 5/20] START max_depth=4, min_samples_split=2...........................
[CV 1/5; 5/20] END max_depth=4, min_samples_split=2;, score=-0.025 total time=   0.0s
[CV 2/5; 5/20] START max_depth=4, min_samples_split=2...........................
[CV 2/5; 5/20] END max_depth=4, min_samples_split=2;, score=0.307 total time=   0.0s
[CV 3/5; 5/20] START max_depth=4, min_samples_split=2...........................
[CV 3/5; 5/20] END max_depth=4, min_samples_split=2;, score=0.187 total time=   0.0s
[CV 4/5; 5/20] START max_depth=4, min_samples_split=2...........................
[CV 4/5; 5/20] END max_depth=4, min_samples_split=2;, score=0.257 total time=   0.0s
[CV 5/5; 5/20] START max_depth=4, min_samples_split=2...........................
[CV 5/5; 5/20] END max_depth=4, min_samples_split=2;, score=0.315 total time=   0.0s
[CV 1/5; 6/20] START max_depth=4, min_samples_split=3...........................
[CV 1/5; 6/20] END max_depth=4, min_samples_split=3;, score=-0.025 total time=   0.0s
[CV 2/5; 6/20] START max_depth=4, min_samples_split=3...........................
[CV 2/5; 6/20] END max_depth=4, min_samples_split=3;, score=0.307 total time=   0.0s
[CV 3/5; 6/20] START max_depth=4, min_samples_split=3...........................
[CV 3/5; 6/20] END max_depth=4, min_samples_split=3;, score=0.187 total time=   0.0s
[CV 4/5; 6/20] START max_depth=4, min_samples_split=3...........................
[CV 4/5; 6/20] END max_depth=4, min_samples_split=3;, score=0.257 total time=   0.0s
[CV 5/5; 6/20] START max_depth=4, min_samples_split=3...........................
[CV 5/5; 6/20] END max_depth=4, min_samples_split=3;, score=0.315 total time=   0.0s
[CV 1/5; 7/20] START max_depth=4, min_samples_split=4...........................
[CV 1/5; 7/20] END max_depth=4, min_samples_split=4;, score=-0.025 total time=   0.0s
[CV 2/5; 7/20] START max_depth=4, min_samples_split=4...........................
[CV 2/5; 7/20] END max_depth=4, min_samples_split=4;, score=0.283 total time=   0.0s
[CV 3/5; 7/20] START max_depth=4, min_samples_split=4...........................
[CV 3/5; 7/20] END max_depth=4, min_samples_split=4;, score=0.187 total time=   0.0s
[CV 4/5; 7/20] START max_depth=4, min_samples_split=4...........................
[CV 4/5; 7/20] END max_depth=4, min_samples_split=4;, score=0.257 total time=   0.0s
[CV 5/5; 7/20] START max_depth=4, min_samples_split=4...........................
[CV 5/5; 7/20] END max_depth=4, min_samples_split=4;, score=0.315 total time=   0.0s
[CV 1/5; 8/20] START max_depth=4, min_samples_split=5...........................
[CV 1/5; 8/20] END max_depth=4, min_samples_split=5;, score=-0.025 total time=   0.0s
[CV 2/5; 8/20] START max_depth=4, min_samples_split=5...........................
[CV 2/5; 8/20] END max_depth=4, min_samples_split=5;, score=0.298 total time=   0.0s
[CV 3/5; 8/20] START max_depth=4, min_samples_split=5...........................
[CV 3/5; 8/20] END max_depth=4, min_samples_split=5;, score=0.187 total time=   0.0s
[CV 4/5; 8/20] START max_depth=4, min_samples_split=5...........................
[CV 4/5; 8/20] END max_depth=4, min_samples_split=5;, score=0.261 total time=   0.0s
[CV 5/5; 8/20] START max_depth=4, min_samples_split=5...........................
[CV 5/5; 8/20] END max_depth=4, min_samples_split=5;, score=0.315 total time=   0.0s
[CV 1/5; 9/20] START max_depth=5, min_samples_split=2...........................
[CV 1/5; 9/20] END max_depth=5, min_samples_split=2;, score=0.096 total time=   0.0s
[CV 2/5; 9/20] START max_depth=5, min_samples_split=2...........................
[CV 2/5; 9/20] END max_depth=5, min_samples_split=2;, score=0.317 total time=   0.0s
[CV 3/5; 9/20] START max_depth=5, min_samples_split=2...........................
[CV 3/5; 9/20] END max_depth=5, min_samples_split=2;, score=0.209 total time=   0.0s
[CV 4/5; 9/20] START max_depth=5, min_samples_split=2...........................
[CV 4/5; 9/20] END max_depth=5, min_samples_split=2;, score=0.207 total time=   0.0s
[CV 5/5; 9/20] START max_depth=5, min_samples_split=2...........................
[CV 5/5; 9/20] END max_depth=5, min_samples_split=2;, score=0.346 total time=   0.0s
[CV 1/5; 10/20] START max_depth=5, min_samples_split=3..........................
[CV 1/5; 10/20] END max_depth=5, min_samples_split=3;, score=0.104 total time=   0.0s
[CV 2/5; 10/20] START max_depth=5, min_samples_split=3..........................
[CV 2/5; 10/20] END max_depth=5, min_samples_split=3;, score=0.266 total time=   0.0s
[CV 3/5; 10/20] START max_depth=5, min_samples_split=3..........................
[CV 3/5; 10/20] END max_depth=5, min_samples_split=3;, score=0.212 total time=   0.0s
[CV 4/5; 10/20] START max_depth=5, min_samples_split=3..........................
[CV 4/5; 10/20] END max_depth=5, min_samples_split=3;, score=0.205 total time=   0.0s
[CV 5/5; 10/20] START max_depth=5, min_samples_split=3..........................
[CV 5/5; 10/20] END max_depth=5, min_samples_split=3;, score=0.346 total time=   0.0s
[CV 1/5; 11/20] START max_depth=5, min_samples_split=4..........................
[CV 1/5; 11/20] END max_depth=5, min_samples_split=4;, score=0.117 total time=   0.0s
[CV 2/5; 11/20] START max_depth=5, min_samples_split=4..........................
[CV 2/5; 11/20] END max_depth=5, min_samples_split=4;, score=0.326 total time=   0.0s
[CV 3/5; 11/20] START max_depth=5, min_samples_split=4..........................
[CV 3/5; 11/20] END max_depth=5, min_samples_split=4;, score=0.212 total time=   0.0s
[CV 4/5; 11/20] START max_depth=5, min_samples_split=4..........................
[CV 4/5; 11/20] END max_depth=5, min_samples_split=4;, score=0.205 total time=   0.0s
[CV 5/5; 11/20] START max_depth=5, min_samples_split=4..........................
[CV 5/5; 11/20] END max_depth=5, min_samples_split=4;, score=0.346 total time=   0.0s
[CV 1/5; 12/20] START max_depth=5, min_samples_split=5..........................
[CV 1/5; 12/20] END max_depth=5, min_samples_split=5;, score=0.117 total time=   0.0s
[CV 2/5; 12/20] START max_depth=5, min_samples_split=5..........................
[CV 2/5; 12/20] END max_depth=5, min_samples_split=5;, score=0.294 total time=   0.0s
[CV 3/5; 12/20] START max_depth=5, min_samples_split=5..........................
[CV 3/5; 12/20] END max_depth=5, min_samples_split=5;, score=0.212 total time=   0.0s
[CV 4/5; 12/20] START max_depth=5, min_samples_split=5..........................
[CV 4/5; 12/20] END max_depth=5, min_samples_split=5;, score=0.208 total time=   0.0s
[CV 5/5; 12/20] START max_depth=5, min_samples_split=5..........................
[CV 5/5; 12/20] END max_depth=5, min_samples_split=5;, score=0.367 total time=   0.0s
[CV 1/5; 13/20] START max_depth=6, min_samples_split=2..........................
[CV 1/5; 13/20] END max_depth=6, min_samples_split=2;, score=0.122 total time=   0.0s
[CV 2/5; 13/20] START max_depth=6, min_samples_split=2..........................
[CV 2/5; 13/20] END max_depth=6, min_samples_split=2;, score=0.371 total time=   0.0s
[CV 3/5; 13/20] START max_depth=6, min_samples_split=2..........................
[CV 3/5; 13/20] END max_depth=6, min_samples_split=2;, score=0.124 total time=   0.0s
[CV 4/5; 13/20] START max_depth=6, min_samples_split=2..........................
[CV 4/5; 13/20] END max_depth=6, min_samples_split=2;, score=0.257 total time=   0.0s
[CV 5/5; 13/20] START max_depth=6, min_samples_split=2..........................
[CV 5/5; 13/20] END max_depth=6, min_samples_split=2;, score=0.391 total time=   0.0s
[CV 1/5; 14/20] START max_depth=6, min_samples_split=3..........................
[CV 1/5; 14/20] END max_depth=6, min_samples_split=3;, score=0.105 total time=   0.0s
[CV 2/5; 14/20] START max_depth=6, min_samples_split=3..........................
[CV 2/5; 14/20] END max_depth=6, min_samples_split=3;, score=0.359 total time=   0.0s
[CV 3/5; 14/20] START max_depth=6, min_samples_split=3..........................
[CV 3/5; 14/20] END max_depth=6, min_samples_split=3;, score=0.124 total time=   0.0s
[CV 4/5; 14/20] START max_depth=6, min_samples_split=3..........................
[CV 4/5; 14/20] END max_depth=6, min_samples_split=3;, score=0.263 total time=   0.0s
[CV 5/5; 14/20] START max_depth=6, min_samples_split=3..........................
[CV 5/5; 14/20] END max_depth=6, min_samples_split=3;, score=0.385 total time=   0.0s
[CV 1/5; 15/20] START max_depth=6, min_samples_split=4..........................
[CV 1/5; 15/20] END max_depth=6, min_samples_split=4;, score=0.119 total time=   0.0s
[CV 2/5; 15/20] START max_depth=6, min_samples_split=4..........................
[CV 2/5; 15/20] END max_depth=6, min_samples_split=4;, score=0.341 total time=   0.0s
[CV 3/5; 15/20] START max_depth=6, min_samples_split=4..........................
[CV 3/5; 15/20] END max_depth=6, min_samples_split=4;, score=0.124 total time=   0.0s
[CV 4/5; 15/20] START max_depth=6, min_samples_split=4..........................
[CV 4/5; 15/20] END max_depth=6, min_samples_split=4;, score=0.235 total time=   0.0s
[CV 5/5; 15/20] START max_depth=6, min_samples_split=4..........................
[CV 5/5; 15/20] END max_depth=6, min_samples_split=4;, score=0.374 total time=   0.0s
[CV 1/5; 16/20] START max_depth=6, min_samples_split=5..........................
[CV 1/5; 16/20] END max_depth=6, min_samples_split=5;, score=0.162 total time=   0.0s
[CV 2/5; 16/20] START max_depth=6, min_samples_split=5..........................
[CV 2/5; 16/20] END max_depth=6, min_samples_split=5;, score=0.360 total time=   0.0s
[CV 3/5; 16/20] START max_depth=6, min_samples_split=5..........................
[CV 3/5; 16/20] END max_depth=6, min_samples_split=5;, score=0.295 total time=   0.0s
[CV 4/5; 16/20] START max_depth=6, min_samples_split=5..........................
[CV 4/5; 16/20] END max_depth=6, min_samples_split=5;, score=0.246 total time=   0.0s
[CV 5/5; 16/20] START max_depth=6, min_samples_split=5..........................
[CV 5/5; 16/20] END max_depth=6, min_samples_split=5;, score=0.415 total time=   0.0s
[CV 1/5; 17/20] START max_depth=7, min_samples_split=2..........................
[CV 1/5; 17/20] END max_depth=7, min_samples_split=2;, score=0.136 total time=   0.0s
[CV 2/5; 17/20] START max_depth=7, min_samples_split=2..........................
[CV 2/5; 17/20] END max_depth=7, min_samples_split=2;, score=0.294 total time=   0.0s
[CV 3/5; 17/20] START max_depth=7, min_samples_split=2..........................
[CV 3/5; 17/20] END max_depth=7, min_samples_split=2;, score=0.252 total time=   0.0s
[CV 4/5; 17/20] START max_depth=7, min_samples_split=2..........................
[CV 4/5; 17/20] END max_depth=7, min_samples_split=2;, score=0.351 total time=   0.0s
[CV 5/5; 17/20] START max_depth=7, min_samples_split=2..........................
[CV 5/5; 17/20] END max_depth=7, min_samples_split=2;, score=0.411 total time=   0.0s
[CV 1/5; 18/20] START max_depth=7, min_samples_split=3..........................
[CV 1/5; 18/20] END max_depth=7, min_samples_split=3;, score=0.216 total time=   0.0s
[CV 2/5; 18/20] START max_depth=7, min_samples_split=3..........................
[CV 2/5; 18/20] END max_depth=7, min_samples_split=3;, score=0.334 total time=   0.0s
[CV 3/5; 18/20] START max_depth=7, min_samples_split=3..........................
[CV 3/5; 18/20] END max_depth=7, min_samples_split=3;, score=0.209 total time=   0.0s
[CV 4/5; 18/20] START max_depth=7, min_samples_split=3..........................
[CV 4/5; 18/20] END max_depth=7, min_samples_split=3;, score=0.296 total time=   0.0s
[CV 5/5; 18/20] START max_depth=7, min_samples_split=3..........................
[CV 5/5; 18/20] END max_depth=7, min_samples_split=3;, score=0.380 total time=   0.0s
[CV 1/5; 19/20] START max_depth=7, min_samples_split=4..........................
[CV 1/5; 19/20] END max_depth=7, min_samples_split=4;, score=0.145 total time=   0.0s
[CV 2/5; 19/20] START max_depth=7, min_samples_split=4..........................
[CV 2/5; 19/20] END max_depth=7, min_samples_split=4;, score=0.308 total time=   0.0s
[CV 3/5; 19/20] START max_depth=7, min_samples_split=4..........................
[CV 3/5; 19/20] END max_depth=7, min_samples_split=4;, score=0.219 total time=   0.0s
[CV 4/5; 19/20] START max_depth=7, min_samples_split=4..........................
[CV 4/5; 19/20] END max_depth=7, min_samples_split=4;, score=0.332 total time=   0.0s
[CV 5/5; 19/20] START max_depth=7, min_samples_split=4..........................
[CV 5/5; 19/20] END max_depth=7, min_samples_split=4;, score=0.416 total time=   0.0s
[CV 1/5; 20/20] START max_depth=7, min_samples_split=5..........................
[CV 1/5; 20/20] END max_depth=7, min_samples_split=5;, score=0.246 total time=   0.0s
[CV 2/5; 20/20] START max_depth=7, min_samples_split=5..........................
[CV 2/5; 20/20] END max_depth=7, min_samples_split=5;, score=0.288 total time=   0.0s
[CV 3/5; 20/20] START max_depth=7, min_samples_split=5..........................
[CV 3/5; 20/20] END max_depth=7, min_samples_split=5;, score=0.413 total time=   0.0s
[CV 4/5; 20/20] START max_depth=7, min_samples_split=5..........................
[CV 4/5; 20/20] END max_depth=7, min_samples_split=5;, score=0.311 total time=   0.0s
[CV 5/5; 20/20] START max_depth=7, min_samples_split=5..........................
[CV 5/5; 20/20] END max_depth=7, min_samples_split=5;, score=0.449 total time=   0.0s

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(random_state=42),
             param_grid={'max_depth': [3, 4, 5, 6, 7],
                         'min_samples_split': [2, 3, 4, 5]},
             scoring=make_scorer(r2_score), verbose=32)

In [71]:
# gcv.best_params_

# sorted(gcv.cv_results_.keys())
# print(gcv.best_score_)
# r2_score(y_test,y_pred)
best_model = gcv.best_estimator_
# print(best_model)
y_pred_test = best_model.predict(test_final)
test_r2_score = r2_score(y_test, y_pred_test)
print("R2 Score on Test Set:", test_r2_score)

R2 Score on Test Set: 0.5122257104257849

In [43]:
params

{'max_depth': [3, 4, 5, 6, 7], 'min_samples_split': [2, 3, 4, 5, 6, 7, 8]}

In [64]:

y_pred = dr.predict(test_final)

In [56]:
y_test.shape

(80, 1)

In [57]:
pd.DataFrame({"pred":y_pred,"actual":np.array(y_test).reshape(-1)})

         pred  actual
0    5.740000    3.02
1    3.860000    2.86
2   10.040000    8.77
3    5.457500    4.36
4    8.322000    8.86
..        ...     ...
75   5.740000    6.90
76   6.672308    8.69
77   9.538000   10.26
78   6.737778    5.61
79   5.313500    8.75

[80 rows x 2 columns]

In [47]:
from sklearn.metrics import r2_score

In [58]:
r2_score(y_test,y_pred)

0.5122257104257849