In [1]:
import pandas as pd
import numpy as np

In [35]:
data  = pd.read_csv("Company_Data.csv")
df  = data.copy()

In [36]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [37]:
df = pd.get_dummies(df).astype(float)

In [38]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,9.50,138.0,73.0,11.0,276.0,120.0,42.0,17.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,11.22,111.0,48.0,16.0,260.0,83.0,65.0,10.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,10.06,113.0,35.0,10.0,269.0,80.0,59.0,12.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,7.40,117.0,100.0,4.0,466.0,97.0,55.0,14.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,4.15,141.0,64.0,3.0,340.0,128.0,38.0,13.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138.0,108.0,17.0,203.0,128.0,33.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
396,6.14,139.0,23.0,3.0,37.0,120.0,55.0,11.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
397,7.41,162.0,26.0,12.0,368.0,159.0,40.0,18.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
398,5.94,100.0,79.0,7.0,284.0,95.0,50.0,12.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
399,9.71,134.0,37.0,0.0,27.0,120.0,49.0,16.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [39]:
y = df.iloc[:,:1]
y

     Sales
0     9.50
1    11.22
2    10.06
3     7.40
4     4.15
..     ...
395  12.57
396   6.14
397   7.41
398   5.94
399   9.71

[400 rows x 1 columns]

In [40]:
x = df.iloc[:,1:]
x

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138.0,73.0,11.0,276.0,120.0,42.0,17.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,111.0,48.0,16.0,260.0,83.0,65.0,10.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,113.0,35.0,10.0,269.0,80.0,59.0,12.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,117.0,100.0,4.0,466.0,97.0,55.0,14.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,141.0,64.0,3.0,340.0,128.0,38.0,13.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138.0,108.0,17.0,203.0,128.0,33.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
396,139.0,23.0,3.0,37.0,120.0,55.0,11.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
397,162.0,26.0,12.0,368.0,159.0,40.0,18.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
398,100.0,79.0,7.0,284.0,95.0,50.0,12.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
399,134.0,37.0,0.0,27.0,120.0,49.0,16.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [43]:
x_train

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
3,117.0,100.0,4.0,466.0,97.0,55.0,14.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
18,110.0,110.0,0.0,408.0,68.0,46.0,17.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
202,121.0,78.0,4.0,413.0,130.0,46.0,10.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
250,137.0,105.0,10.0,435.0,156.0,72.0,14.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
274,135.0,93.0,2.0,67.0,119.0,34.0,11.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,148.0,51.0,16.0,148.0,150.0,58.0,17.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
106,102.0,33.0,0.0,217.0,139.0,70.0,18.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
270,119.0,26.0,0.0,284.0,89.0,26.0,10.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
348,132.0,102.0,20.0,459.0,107.0,49.0,11.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
102,113.0,22.0,0.0,57.0,97.0,65.0,16.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [44]:
from sklearn.tree import DecisionTreeRegressor

deciReg = DecisionTreeRegressor(random_state=42)
deciReg.fit(x_train,y_train)

DecisionTreeRegressor(random_state=42)

In [45]:
y_pred = deciReg.predict(x_test)
y_pred

array([ 3.47,  3.72, 10.77,  5.68,  7.99,  5.16, 10.96,  8.01, 11.85,
       11.54,  6.54,  7.99, 10.06,  7.32,  9.16,  8.41,  3.58, 12.57,
        7.3 ,  3.98,  9.64,  0.  ,  7.96,  6.63,  5.68,  8.55,  4.83,
        8.55,  4.78,  6.42, 12.29, 11.28,  6.18,  1.42, 11.28,  0.  ,
        5.31,  8.01,  8.43,  4.15,  2.34,  5.73,  9.64,  8.89,  7.02,
        5.21,  7.38,  8.64,  2.67,  6.93,  8.57,  9.32, 10.21, 10.77,
        9.01,  5.04,  6.92,  8.21, 11.28,  9.09,  7.8 , 11.28,  8.01,
        5.58,  8.31,  8.03, 12.13, 10.21,  4.53, 11.19,  5.53,  5.53,
       11.18,  2.66,  8.01,  8.01,  8.47,  8.65,  7.49,  8.03])

In [46]:
check_df = pd.DataFrame({"pred":y_pred,"actual":np.array(y_test).reshape(-1)})

In [47]:
check_df

     pred  actual
0    3.47    3.02
1    3.72    2.86
2   10.77    8.77
3    5.68    4.36
4    7.99    8.86
..    ...     ...
75   8.01    6.90
76   8.47    8.69
77   8.65   10.26
78   7.49    5.61
79   8.03    8.75

[80 rows x 2 columns]

In [48]:
from sklearn.metrics import accuracy_score,r2_score

r2_score(y_test,y_pred)

0.4521787515403298