In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("delivery_time.csv")

In [7]:
df = data.copy()

In [9]:
df

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [10]:
from sklearn.preprocessing import StandardScaler

In [15]:
x = df.iloc[:,:-1]

In [17]:
x

    Delivery Time
0           21.00
1           13.50
2           19.75
3           24.00
4           29.00
5           15.35
6           19.00
7            9.50
8           17.90
9           18.75
10          19.83
11          10.75
12          16.68
13          11.50
14          12.03
15          14.88
16          13.75
17          18.11
18           8.00
19          17.83
20          21.50

In [19]:
y = df.iloc[:,-1:]

In [21]:
y

    Sorting Time
0             10
1              4
2              6
3              9
4             10
5              6
6              7
7              3
8             10
9              9
10             8
11             4
12             7
13             3
14             3
15             4
16             6
17             7
18             2
19             7
20             5

In [23]:
sc = StandardScaler()
sc.fit_transform(x)

array([[ 0.84986692],
       [-0.66449036],
       [ 0.59747404],
       [ 1.45560983],
       [ 2.46518134],
       [-0.2909489 ],
       [ 0.44603831],
       [-1.47214757],
       [ 0.22393258],
       [ 0.39555973],
       [ 0.61362718],
       [-1.21975469],
       [-0.02240287],
       [-1.06831896],
       [-0.96130438],
       [-0.38584862],
       [-0.61401178],
       [ 0.26633458],
       [-1.77501902],
       [ 0.20979858],
       [ 0.95082407]])

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [27]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [28]:
y_pred = lr.predict(x_test)

In [35]:
test = pd.DataFrame({"predicted":np.array(y_pred).reshape(-1),"actuals":np.array(y_test).reshape(-1)})

In [37]:
test

   predicted  actuals
0   7.550498       10
1   6.466098        7
2   5.254122        4
3   4.736311        4
4   6.387301       10

In [38]:
from sklearn.metrics import r2_score

In [39]:
print(r2_score(y_test,y_pred))

0.40411996047178356