Chi-Square test ----> Hypothesis Testing ----> To test for the correlation between two categoriacal variables.

Steps for a Hypothesis test:
1. Null Hypothesis(H0) : No Correlation exists between the two variables.
2. Alternate hypothesis(h1): Correlation eixsts.
3. Confidence level = 0.95, Significance Level: 0.05 = 1- confidence level.
4. Collect all the evidence.
5. calculate the chi-square test statistics and p-value.
6. Conclude : if p-value from step-5 < significance level(0.05), Reject H0
            : if p-value form step-5 > sigificance level(0.05), Fail to reject H0

In [1]:
from scipy.stats import chi2_contingency
# observed_table
# don't know how to apply chi2_contingency and anova and pearson correlation

NameError: name 'observed_table' is not defined

In [3]:
import pandas as pd
import numpy as np

In [26]:
df = pd.DataFrame(np.random.randint(1,100,(11,21)))

In [12]:
# df.columns = list("a")

In [34]:
df2 = df.iloc[4:11,10:21]

In [35]:
df2

    10  11  12  13  14  15  16  17  18  19  20
4   20  85  58  48  28  53  54  21  17  27  73
5   41  78  69  64  52  54  71  19   1  70  52
6   20  65  61  73  84  66  37  97  32  84  34
7   80  74  24  65  47  66  52  82  73  11  37
8   66  48  13  51  81  47  76  15   6  94  37
9   96  54   1  19  40  54  46  21  27   3  13
10  82  48   4  33  70  90  36  85  73  22  81