In [2]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [3]:
s = input()

In [4]:
for i in range(ord("A"),ord("Z")):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [5]:
import pandas as pd
import numpy as np

In [6]:
arr = np.random.rand(10)

In [7]:
arr

array([0.0673558 , 0.85320076, 0.59255559, 0.31330232, 0.7795509 ,
       0.93345232, 0.90027294, 0.18988916, 0.57022713, 0.10510755])

### Lets create a Dataframe using np and pandas.

By the way the markup and code has shortcuts as M and Y that you can interchange by just using them when the whole code cell is selected.

#### Lets first create some pandas series

Checking the ways to create and manipulate the pandas series.

In [8]:

check_arr = pd.Series(range(10))

In [9]:
check_arr

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

Now lets just create a pandas series with some random numbers using np.random.rand() funciton

In [10]:
check_series = pd.Series(np.random.rand(10))

In [11]:
check_series

0    0.699156
1    0.677576
2    0.530337
3    0.648138
4    0.862837
5    0.571632
6    0.117847
7    0.449676
8    0.451491
9    0.726628
dtype: float64

Lets try and change the values order to greater than 1 because right now most of the values are just less than 1.

If you want to generate a pandas Series with random integers using NumPy, you can use np.random.randint(). Here's an example:

```python
import pandas as pd
import numpy as np

# Generate a pandas Series with 10 random integers between a specified range
random_integers = pd.Series(np.random.randint(1, 100, 10))

print(random_integers)
```
Here's the breakdown of the arguments:

1: The lower bound (inclusive) of the random integers.

100: The upper bound (exclusive) of the random integers.

10: The number of random integers to generate.

So, in this case, it generates an array of 10 random integers between 1 and 99 (inclusive). If you want a different number of random integers, you can change the 10 to your desired size.

In [12]:
# Lets just create a random number series of 10 numbers from 1 to 10
int_arr = pd.Series(np.random.randint(1,100,10))

In [13]:
int_arr

0     9
1    60
2    13
3    29
4    52
5    25
6    87
7    89
8    77
9    86
dtype: int64

Lets create a DataFrame. Notice the camelcase.

In [14]:
df = pd.DataFrame(np.random.rand(10,5))

In [15]:
df

          0         1         2         3         4
0  0.835789  0.070757  0.634830  0.595476  0.558496
1  0.962582  0.008590  0.893656  0.936927  0.157159
2  0.727652  0.702918  0.608863  0.328957  0.677764
3  0.665827  0.502337  0.640954  0.916305  0.943328
4  0.195138  0.139532  0.665969  0.946416  0.712769
5  0.840528  0.051392  0.674446  0.015977  0.873215
6  0.503836  0.081578  0.726577  0.733446  0.487692
7  0.813956  0.010847  0.652513  0.681482  0.016698
8  0.278831  0.400924  0.530052  0.599862  0.929442
9  0.752890  0.760182  0.185505  0.854261  0.415107

In [16]:
df.columns = list("ABCDE")

In [17]:
df

          A         B         C         D         E
0  0.835789  0.070757  0.634830  0.595476  0.558496
1  0.962582  0.008590  0.893656  0.936927  0.157159
2  0.727652  0.702918  0.608863  0.328957  0.677764
3  0.665827  0.502337  0.640954  0.916305  0.943328
4  0.195138  0.139532  0.665969  0.946416  0.712769
5  0.840528  0.051392  0.674446  0.015977  0.873215
6  0.503836  0.081578  0.726577  0.733446  0.487692
7  0.813956  0.010847  0.652513  0.681482  0.016698
8  0.278831  0.400924  0.530052  0.599862  0.929442
9  0.752890  0.760182  0.185505  0.854261  0.415107

In [18]:
df["A"][0] = 32

In [33]:
(df.describe().loc["max",{}])

         A    B
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [20]:
df.columns = list("SAPEK")

In [21]:
df["S"][0] = 0.2312313123

In [22]:
df_nan = df[df[["S","A","P","E","K"]] > 0.4]

In [23]:
df_nan.isna().sum()[df_nan.isna().any()]

S    3
A    6
P    1
E    2
K    2
dtype: int64

In [24]:
column_names = list("ABCDEFGH")
df2 = pd.DataFrame(np.random.randint(1,100,(10,len(column_names))),columns= column_names)

In [25]:
type(df2[list("ABCDEFGH")] > 55)
df2_nan = df2[df2[list("ABCDEFGH")] > 55]

In [40]:
# df2_nan.dropna(subset = ["A"],axis = 0)
list(df2_nan["A"])

[nan, 74.0, 59.0, 87.0, nan, 98.0, 65.0, nan, 75.0, nan]

Best way to imagine how a DataFrame is created.

In [27]:
# Sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

In [28]:
df

   A  B
0  1  4
1  2  5
2  3  6