# XGBM & LGBM assignment

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Lets import the data

In [2]:
data_tr = pd.read_csv("Titanic_train.csv")
data_te = pd.read_csv("Titanic_test.csv")

In [3]:
df_tr = data_tr.copy()
df_te = data_te.copy()

In [4]:
df_tr

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Data Preprocessing

In [5]:
df_tr.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df_tr.isna().sum()[df_tr.isna().any()]

Age         177
Cabin       687
Embarked      2
dtype: int64

Lets see what we can do with the missing values?

Lets check for correlation by creating a function to check for correlation

In [26]:
df_tr.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df_tr.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [42]:
df_tr["SibSp"] = df_tr["SibSp"].astype('object')
df_tr["Parch"] = df_tr["Parch"].astype("object")
df_tr["Survived"] = df_tr["Survived"].astype("object")

In [43]:
df_tr["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [44]:
df_tr.dtypes

PassengerId      int64
Survived        object
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp           object
Parch           object
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [37]:
df_tr["SibSp"].value_counts()

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [38]:
df_tr["Parch"].value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [124]:
x = list(df_tr["Sex"].unique())

In [125]:
x

['male', 'female']

In [147]:
def corr_check(df, trgt):
    
    import pandas as pd
    from scipy.stats import f_oneway 
    from scipy.stats import chi2_contingency

    cols = df.columns
    cat_cols = [col for col in df.columns if df[col].dtype == "object"]
    con_cols = [col for col in df.columns if df[col].dtype != "object"]
# pearson for con -con, chi2 for cat-cat, foneway for con-cat
    # rem = trgt.name
    cat_cols.remove(trgt.name)
    a = []
    corr_cat_ob = []
    corr_con_ob = []
    corr_cat_con = []
    corr_con_con = []
    if trgt.dtype == "object":
        for col in cat_cols:
            observation = pd.crosstab(df[col],trgt)
            if chi2_contingency(observation)[1] <= 0.05:
                corr_cat_ob.append(col)
        # for col in con_cols:

        # f_oneway

        for col in con_cols:
            categories = list(df[trgt.name].unique())
            cat_lists = []
            if len(categories)>1:
                for i in categories:
                    cat_lists.append(list(df[df[trgt.name] == i][col]))

        # return cat_lists
        # observation = pd.crosstab(df[con_cols],trgt)
        return f_oneway()
        if f_oneway(cat_lists)[1] <= 0.05:
            corr_con_ob.append(col)

        # return col,categories
        return corr_cat_ob, corr_con_ob
    else:
        return "no"

    # return cat_cols, con_cols
    # return targetCorr

In [148]:
corr_check(df_tr,df_tr["Survived"])

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.