In [3]:
import pandas as pd
import numpy as np

In [7]:
data  = pd.read_csv("forestfires.csv")
df = data.copy()
df.dtypes

month             object
day               object
FFMC             float64
DMC              float64
DC               float64
ISI              float64
temp             float64
RH                 int64
wind             float64
rain             float64
area             float64
dayfri             int64
daymon             int64
daysat             int64
daysun             int64
daythu             int64
daytue             int64
daywed             int64
monthapr           int64
monthaug           int64
monthdec           int64
monthfeb           int64
monthjan           int64
monthjul           int64
monthjun           int64
monthmar           int64
monthmay           int64
monthnov           int64
monthoct           int64
monthsep           int64
size_category     object
dtype: object

In [8]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [12]:
x

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,0,1,0,0,0,0
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,0,1,0
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,0,1,0
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,0,1,0,0,0,0
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,0
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,0
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,0
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,0
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
y.value_counts()

size_category
small            378
large            139
Name: count, dtype: int64

In [10]:
con_cols = [col for col in x.columns if x[col].dtype != "object"]
cat_cols = [col for col in x.columns if x[col].dtype == "object"]

In [16]:
y = y.replace("small",0)
y = y.replace("large",1)

In [18]:
y

     size_category
0                0
1                0
2                0
3                0
4                0
..             ...
512              1
513              1
514              1
515              0
516              0

[517 rows x 1 columns]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [24]:
x_train[con_cols] = sc.fit_transform(x_train[con_cols])
x_test[con_cols] = sc.transform(x_test[con_cols])

In [26]:
x_train

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
329,sep,sat,0.280286,-0.150282,0.810272,-0.095838,0.797602,-1.059419,0.001631,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,1.381467
173,sep,mon,0.061652,0.217866,0.549136,-0.455434,-0.205272,-0.335215,-1.008923,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,1.381467
272,aug,tue,0.263468,0.614919,0.435442,1.419602,0.227001,0.147588,0.001631,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
497,aug,tue,0.936186,1.048482,0.487669,1.419602,2.319206,-1.059419,-1.008923,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
182,feb,sun,-0.627884,-1.469227,-2.014816,-1.251682,-1.121692,0.509690,-1.008923,-0.067817,...,-0.121417,4.68449,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,sep,fri,0.633463,-0.411941,0.572437,1.830569,-0.205272,-0.455916,-0.222936,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,1.381467
106,mar,thu,0.145742,-1.239514,-1.910361,-0.327007,-0.118818,-0.938719,-0.503646,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,2.972092,-0.049266,-0.049266,-0.180278,-0.723868
270,aug,tue,0.263468,0.614919,0.435442,1.419602,0.503656,0.690741,-0.503646,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
435,jul,sat,0.044834,-0.418026,-0.695879,-0.815030,0.849475,0.388990,-1.233490,-0.067817,...,-0.121417,-0.21347,-0.049266,3.638871,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
102,aug,tue,0.717552,-0.059006,0.390848,2.113108,0.209710,-0.274865,0.001631,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868

In [28]:
x_test

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
304,may,sat,-0.913789,-1.280589,-1.751671,-1.354424,-1.311893,2.984055,0.506908,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,20.297783,-0.049266,-0.180278,-0.723868
501,aug,tue,0.936186,1.048482,0.487669,1.419602,0.469074,1.233895,0.506908,2.421824,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
441,aug,mon,0.263468,1.442492,0.493293,-0.147209,1.143421,-0.938719,-1.233490,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
153,sep,fri,0.633463,-0.411941,0.572437,1.830569,0.209710,0.147588,0.506908,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,1.381467
503,aug,wed,0.667098,0.414111,0.559582,2.883671,1.783186,-0.878368,0.506908,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,aug,wed,0.919368,0.226994,0.083109,1.984681,0.780311,-0.697317,0.282341,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
275,dec,thu,-0.997879,-1.304929,-0.794709,-1.739706,-2.383931,0.992493,0.506908,-0.067817,...,8.236099,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
509,aug,fri,0.078470,0.832461,0.814691,-0.429749,0.382620,1.595997,2.022739,4.289054,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
513,aug,sun,-1.502417,-0.843983,0.465171,-1.765391,0.520947,1.595997,1.012185,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,-0.723868
320,sep,thu,0.381193,0.103771,0.938831,-0.327007,0.002219,-0.636967,1.798171,-0.067817,...,-0.121417,-0.21347,-0.049266,-0.274811,-0.180278,-0.336463,-0.049266,-0.049266,-0.180278,1.381467

In [29]:
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder(handle_unknown="ignore")

In [31]:
oe_train = pd.DataFrame(oe.fit_transform(x_train[cat_cols]).toarray(),index = x_train[cat_cols].index)
oe_test = pd.DataFrame(oe.transform(x_test[cat_cols]).toarray(),index = x_test[cat_cols].index)

In [33]:
oe_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
173,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
272,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
497,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
182,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
270,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
435,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
102,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
oe_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
501,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
441,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
503,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
275,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
509,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
513,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [38]:
train_final = pd.concat([x_train[con_cols],oe_train],axis =1)
test_final = pd.concat([x_test[con_cols],oe_test],axis = 1)

In [40]:
train_final

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,9,10,11,12,13,14,15,16,17,18
329,0.280286,-0.150282,0.810272,-0.095838,0.797602,-1.059419,0.001631,-0.067817,-0.171087,-0.432182,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
173,0.061652,0.217866,0.549136,-0.455434,-0.205272,-0.335215,-1.008923,-0.067817,-0.176789,-0.432182,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
272,0.263468,0.614919,0.435442,1.419602,0.227001,0.147588,0.001631,-0.067817,-0.176350,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
497,0.936186,1.048482,0.487669,1.419602,2.319206,-1.059419,-1.008923,-0.067817,0.077799,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
182,-0.627884,-1.469227,-2.014816,-1.251682,-1.121692,0.509690,-1.008923,-0.067817,-0.104206,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,0.633463,-0.411941,0.572437,1.830569,-0.205272,-0.455916,-0.222936,-0.067817,-0.244108,2.313838,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
106,0.145742,-1.239514,-1.910361,-0.327007,-0.118818,-0.938719,-0.503646,-0.067817,-0.244108,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
270,0.263468,0.614919,0.435442,1.419602,0.503656,0.690741,-0.503646,-0.067817,-0.232706,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
435,0.044834,-0.418026,-0.695879,-0.815030,0.849475,0.388990,-1.233490,-0.067817,-0.244108,-0.432182,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
102,0.717552,-0.059006,0.390848,2.113108,0.209710,-0.274865,0.001631,-0.067817,-0.244108,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [42]:
test_final

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,9,10,11,12,13,14,15,16,17,18
304,-0.913789,-1.280589,-1.751671,-1.354424,-1.311893,2.984055,0.506908,-0.067817,-0.244108,-0.432182,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
501,0.936186,1.048482,0.487669,1.419602,0.469074,1.233895,0.506908,2.421824,-0.244108,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
441,0.263468,1.442492,0.493293,-0.147209,1.143421,-0.938719,-1.233490,-0.067817,-0.217137,-0.432182,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
153,0.633463,-0.411941,0.572437,1.830569,0.209710,0.147588,0.506908,-0.067817,-0.212093,2.313838,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
503,0.667098,0.414111,0.559582,2.883671,1.783186,-0.878368,0.506908,-0.067817,-0.201348,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,0.919368,0.226994,0.083109,1.984681,0.780311,-0.697317,0.282341,-0.067817,-0.189068,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
275,-0.997879,-1.304929,-0.794709,-1.739706,-2.383931,0.992493,0.506908,-0.067817,-0.126134,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
509,0.078470,0.832461,0.814691,-0.429749,0.382620,1.595997,2.022739,4.289054,-0.196524,2.313838,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
513,-1.502417,-0.843983,0.465171,-1.765391,0.520947,1.595997,1.012185,-0.067817,0.946377,-0.432182,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
320,0.381193,0.103771,0.938831,-0.327007,0.002219,-0.636967,1.798171,-0.067817,0.509347,-0.432182,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [44]:
from sklearn.svm import SVC
svc = SVC()

In [47]:
train_final.columns = train_final.columns.astype(str)
test_final.columns = test_final.columns.astype(str)

In [48]:
svc.fit(train_final,y_train)

/home/its_relative/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [49]:
y_pred  = svc.predict(test_final)

In [51]:
check_df = pd.DataFrame({"pred":y_pred,"actual":np.array(y_test).reshape(-1)})

In [53]:
check_df

     pred  actual
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0
..    ...     ...
99      0       0
100     1       0
101     0       0
102     0       1
103     0       1

[104 rows x 2 columns]

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7788461538461539